<script src="~/Scripts/knockout-3.4.2.js"></script>

<div class="modal fade" id="soldBroken" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sold/Broken</h4>
                <h6>Click to select</h6>

                <input type="text" placeholder="Game Name" id="searchGameNameInput" data-bind="value: searchTerm" />
                <button type="button" class="btn btn-info" data-bind="click: searchForGame">Search</button>

                <table class="table">
                    <thead>
                        <tr>
                            <th>UPC</th>
                            <th>Released Date</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Platform</th>
                            <th>Rating</th>
                            <th>Rented</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: games">
                        <tr>
                            <td data-bind="text: UPC"></td>
                            <td data-bind="text: ReleasedDate"></td>
                            <td data-bind="text: Name"></td>
                            <td data-bind="text: Description"></td>
                            <td data-bind="text: PlatformName"></td>
                            <td data-bind="text: RatingName"></td>
                            <td data-bind="text: Rented"></td>
                            <td class="glyphicon glyphicon-remove" data-bind="click: $root.deleteGame"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click: saveDeletion">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var DeleteVideoGameViewModel = function () {
        var self = this;
        self.games = ko.observableArray([]);
        self.searchTerm = ko.observable();
        self.deletedVideoGameIds = [];

        self.searchForGame = function () {
            self.games.removeAll();

            $.ajax({
                url: "/VideoGame/Search",
                type: "get",
                data: { "searchString": self.searchTerm() },
                success: function (returnedData) {
                    for (var i = 0; i < returnedData.length; i++) {
                        self.games.push(returnedData[i]);
                    }
                }
            });
        };

        self.saveDeletion = function () {
            $.ajax({
                url: "/VideoGame/DeleteVideoGames",
                type: "post",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(self.deletedVideoGameIds)
            });
        };

        self.deleteGame = function (game) {
            self.deletedVideoGameIds.push(game.Id);
            self.games.remove(game);
        };
    };

    ko.applyBindings(new DeleteVideoGameViewModel());
</script>

